body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30%;
  
}

.titulo-principal {
  background-color: rgb(0, 204, 255);
  color: rgb(30, 24, 22);
}

.elementos {
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 13px;
  text-align: left;

}

.elementos #p {
  color: blue;
}

.elementos #p1 {
  color: red;
}

.elementos #p2 {
  color: darkgoldenrod;
}

.elementos #p3 {
  color: darkmagenta;
}

.elementos #p4 {
  color: darkgreen;
}

.img-001 img {
  
  width: 30%;
  margin: auto;
}

figcaption {
  font-size: 12px;
  color: magenta;
  background-color: yellow;
  width: 30%;
  margin: auto;

}

.img-002 img {
  width: 30%;
  margin-top: 10px;
  margin: auto;
}

.atributo-link h4 {
  margin-left: 30%;
}

.atributo-link img {
  width: 30%;
  margin-left: 30%;
}

.texto {
  text-align: left;
}

#p2 {
  font-style: italic;
  color: green;
  line-height: 20px;
}

#p3 {
  color: #484848;
  font-weight: 900;
}

.lista-ordenada li {
  display: inline-block;
  margin: 0 0 0 10px;
  
}

.last-line {
  display: inline-block;
  width: 100%;
}

#one {
  background-color: green;
  width: 30%;
  height: 100px;
}

#two {
  background-color: yellow;
  width: 30%;
  height: 100px;
}

#three {
  background-color:aqua;
  width: 30%;
  height: 100px;
  
}