body {
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-principal {
  background-color: rgb(0, 204, 255);
  color: rgb(30, 24, 22);  
}

.elementos {
  background-color: rgb(255, 255, 255);
  font-family:Verdana,Tahoma, sans-serif;
  font-size: 13px;
  text-align:center;
  
}
.elementos #p {
  color:blue;
}
.elementos #p1 {
  color:red;
}
.elementos #p2 {
  color:darkgoldenrod;
}
.elementos #p3 {
  color:darkmagenta;
}

.elementos #p4 {
  color:darkgreen;
}

.img-001 img {  
  width: 30%;
  margin-left: 10%;
  margin-right: 30%;
}
.img-002 img {
  margin-left: 20%;
  margin-right: 30%;
  width: 30%;  
}

.atributo-link h4{
  margin-left: 30%;
}
.atributo-link img{
  width: 30%;
  margin-left:30% ;
}

