

body{
  text-align: left;
  margin-left: 20%;
  margin-right: 10%;
  
}

.paragrafo-primeiro{/* Arte e Cultura */
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #ff7212;
  width: 100%;
  height: 35px;
 
}
.box1 h3{/*Arte e Cultura */
  margin-left: 2%; 
}


.paragrafo-segundo{/* Título da notícia */   
  font-size: 25px;   
}

.paragrafo-segundo p{/* Título da notícia */  
  line-height: 30px;
  font-size: 20px;  
}

.cabeçario figcaption{/* fonte da matéria e data */
  font-size: 15px;
 }

.sinopsi{/* Início da matéria */
  line-height: 30px;
  font-size: 20px;
}

.img img{/* Imagem da matéria */
  width: 60%;
 } 
 .img figcaption{/* informe da foto */
  font-size: 14px;
 }

 .materia p{/* Texto da matéria */
  line-height: 30px;
  font-size: 20px;
 }
 .materia iframe{/* Vídeo do Youtube */
  width: 720px;
  height: 400px;  
  
 }

.lista-links{    /* Container das "a ul li" */
  padding: 0%;  
}
.lista-links a{  
  color: black;
  font-size: 19px;
  
}

.lista-links ul{
  padding-left: 0%;
  list-style: none;
  line-height: 30px;  
}
 

 